@use "../global/use.scss";

.catalog {
  display: block;

  @include use.media-mobile-only {
    margin-bottom: 31px;
  }

  @include use.media-tablet {
    margin-bottom: 53px;
  }

  @include use.media-desktop {
    margin-bottom: 57px;
  }
}

.catalog__header-box {
  position: relative;
  background-color: use.$color-footer-gray;

  @include use.media-mobile-only {
    padding: 72px 30px 74px;
    margin-bottom: 30px;
  }

  @include use.media-tablet {
    padding: 33px 50px 72px;
    margin-bottom: 82px;
  }

  @include use.media-desktop {
    padding: 36px 320px 95px;
    margin-bottom: 129px;
  }
}

.catalog__header-box::after {
  @include use.media-tablet {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-image: url("../img/svg/tab-fat-wave.svg");
    background-repeat: repeat-x;
    background-size: 38.5px;
    left: -1px;
    right: 0;
    bottom: -14px;
    height: 24px;
  }

  @include use.media-desktop {
    background-image: url("../img/svg/desk-fat-wave.svg");
    background-size: 57.7px;
    left: -3px;
    right: 0;
    bottom: -19px;
    height: 34px;
  }
}

.catalog__header-title {
  margin: 0;
  color: use.$color-black;
  text-align: center;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-bold-27;
    line-height: 30px;
  }

  @include use.media-tablet {
    @include use.font-bold-43;
    line-height: 50px;
  }

  @include use.media-desktop {
    @include use.font-bold-53;
    line-height: 57px;
    left: 1px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

//catalog
.catalog__box {
  @include use.media-mobile-only {
    padding: 0 30px;
  }

  @include use.media-tablet {
    padding: 0 50px;
  }

  @include use.media-desktop {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include use.media-mobile-only {
    row-gap: 30px;
  }

  @include use.media-tablet {
    row-gap: 54px;
  }

  @include use.media-desktop {
    flex-direction: row;
    column-gap: 51px;
    row-gap: 30px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid use.$color-lite-gray;

  @include use.media-mobile-only {
    flex-direction: column;
  }

  @include use.media-tablet {
    flex-direction: row;
  }

  @include use.media-desktop {
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__link-img {
  @include use.media-mobile-only {
    margin-bottom: 27.5px;
  }

  @include use.media-tablet {
    margin-right: auto;
  }

  @include use.media-desktop {
    margin: 0;
  }

  &--more {
    @include use.media-mobile-only {
      margin-bottom: 25.5px;
    }
  }

  &:hover,
  &:focus-visible {
    filter: grayscale(1);
    transition: 0.2s;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__img {
  display: block;
  width: 100%;
  object-fit: cover;


  @include use.media-tablet {
    width: 332px;
  }

  @include use.media-desktop {
    width: 314px;
    height: 462px;
  }
}

.catalog__info-box {
  display: flex;
  flex-direction: column;

  @include use.media-mobile-only {
    padding: 0 27px;
  }

  @include use.media-tablet {
    justify-content: space-between;
    padding: 27px 32px 24.5px 34px;
    width: 268px;
  }

  @include use.media-desktop {
    padding: 27px 32px 26px 27px;
    min-height: 142px;
    width: 255px;
  }
}

.catalog__info {
  @include use.media-mobile-only {
    margin-bottom: 17.5px;
  }
}

.catalog__info-link {
  text-decoration: none;
  color: use.$color-black;
  display: block;
  outline: none;

  @include use.media-mobile-only {
    margin-bottom: 5px;
  }

  @include use.media-tablet {
    margin-bottom: 6.5px;
  }

  @include use.media-desktop {
    margin-bottom: 6px;
  }

  &--more {
    @include use.media-mobile-only {
      margin-bottom: 9px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__info-title {
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-bold-17;
  }

  @include use.media-tablet {
    @include use.font-bold-20;
  }
}

.catalog__info-feature {
  margin: 0;
  display: block;

  @include use.media-mobile-only {
    @include use.font-lite-13;
    line-height: 30px;
  }

  @include use.media-tablet {
    @include use.font-lite-15;
    line-height: 30px;
  }
}

.catalog__order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid use.$color-lite-gray;

  @include use.media-mobile-only {
    padding-top: 17px;
    padding-bottom: 18px;
  }

  @include use.media-tablet {
    padding-top: 23px;
  }

  @include use.media-desktop {
    padding-top: 21px;
  }
}

.catalog__price {
  display: block;
  color: use.$color-black;
  position: relative;

  @include use.media-mobile-only {
    @include use.font-bold-15;
    margin-bottom: 6px;
  }

  @include use.media-tablet {
    @include use.font-bold-17;
    margin: 0;
  }

  @include use.media-desktop {
    top: 2px;
    left: -1px;
  }
}

.catalog__order-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  fill: use.$color-disabled-gray;

  @include use.media-mobile-only {
    padding: 6px;
    right: -7px;
  }

  @include use.media-tablet {
    right: -9px;
  }

  @include use.media-desktop {
    right: -7px;
    top: 2px;
  }

  &:hover,
  &:focus {
    fill: use.$color-light-mint;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__order-ico {
  display: block;
  outline: none;
}
