@use "../global/use.scss";

.contacts {
  display: block;
  max-width: 1150px;
  margin: 0 auto;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  @include use.media-mobile-only {
    padding: 0 30px 39px 29px;
  }

  @include use.media-tablet {
    padding: 86px 50px 57px;
  }

  @include use.media-desktop {
    padding: 78px 50px 163px 225px;
  }
}

.contacts__title {
  margin: 0;
  color: use.$color-black;

  @include use.media-mobile-only {
    @include use.font-bold-25;
    line-height: 30px;
    margin-bottom: 26px;
  }

  @include use.media-tablet {
    @include use.font-bold-43;
    line-height: 50px;
    margin-bottom: 49px;
  }

  @include use.media-desktop {
    @include use.font-bold-53;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.contacts__list {
  line-height: 30px;
  box-sizing: border-box;
  display: grid;
  margin: 0;

  @include use.media-mobile-only {
    @include use.font-lite-14;
    column-gap: 34px;
    row-gap: 30px;
    margin-bottom: 63px;
  }

  @include use.media-tablet {
    @include use.font-lite-17;
    grid-template-columns: max-content 1fr max-content 1fr;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 48px;
  }
}

.contacts__description {
  margin-left: 0;
  grid-column-start: 2;

  @include use.media-tablet {
    margin-left: 25px;
    grid-column-start: auto;
    min-width: 255px;
  }
}

.contacts__email {
  padding-bottom: 2.5px;
  text-decoration: none;
  color: use.$color-gray;
  border-bottom: 1px solid use.$color-active-mint;
}

.contacts__box-map {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include use.media-mobile-only {
    margin: 0 -30px 41px;
  }

  @include use.media-tablet {
    margin: 0 -50px 55px;
  }
}

.contacts__map {
  border: 0;
  display: block;
  width: 100vw;

  @include use.media-tablet {
    height: 457px;
  }
}

.contacts__btn {
  display: block;
  padding: 14px 50px;

  @include use.media-tablet {
    @include use.font-bold-17;
    padding: 14px 39px;
  }
}