@use "../global/use.scss";

.header {
  width: 100%;
  position: relative;

  @include use.media-mobile-only {
    min-height: 79px;
    border-bottom: 1px solid use.$color-lite-gray;
  }

  @include use.media-tablet {
    background-color: use.$color-white;
    overflow-x: hidden;
  }
}

.header__wrapper {
  display: block;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}
