@use "../global/use.scss";

.header {
  @include use.media-mobile-only {
    min-height: 79px;
    // margin-bottom: 20px;
  }

  @include use.media-tablet {
    background-image: linear-gradient(#ffffff 88px, #fafafa 50px);
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: use.$color-lite-gray;

    @include use.media-mobile-only {
      top: 78px;
    }

    @include use.media-tablet {
      top: 88px;
    }
  }
}
