@use "../global/use.scss";

.main-nav__wrapper {
  display: block;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}

.main-nav {
  position: relative;
  z-index: 5;

  @include use.media-mobile-only {
    padding-top: 22px;

    &--opened .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-close.svg");
      margin: 21px 23px;
      width: 21px;
      height: 20px;
      top: 8px;
      right: 7px;
    }

    &--closed .main-nav__toggle {
      background-image: url("../img/svg/mob-menu-open.svg");
      width: 20px;
      height: 14px;
      top: 8px;
      right: 11px;
    }

    &--closed .main-nav__list--site,
    &--closed .main-nav__list--user {
      display: none;
    }

    &--opened .main-nav__list--site,
    &--opened .main-nav__list--user {
      display: block;
    }

    &--opened {
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }

    &--nojs .main-nav__list--site,
    &--nojs .main-nav__list--user {
      display: block;
      position: relative;
      margin: 0;
    }
  }

  @include use.media-tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px 0 48px;
    min-height: 88px;
  }

  @include use.media-desktop {
    padding: 0 53px 0 48px;
  }
}

.main-nav__logo {
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid use.$color-black;
  }

  &:active {
    opacity: 0.3;
  }

  @include use.media-mobile-only {
    display: block;
    margin-bottom: 21px;
  }

  @include use.media-tablet {
    width: calc(100% - 431px);
    height: auto;
    display: flex;
    align-items: center;
  }

  @include use.media-desktop {
    width: 149px;
    top: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-nav__picture {
  display: block;
}

.main-nav__img {
  display: block;
  position: relative;

  @include use.media-mobile-only {
    left: -1px;
    margin: 0 auto;
  }

  @include use.media-tablet {
    top: 1px;
    width: 113px;
    height: 46px;
  }

  @include use.media-desktop {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 24px 20px;
  z-index: 3;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  @include use.media-tablet {
    display: none;
  }
}

.main-nav__list {
  @include use.font-bold-17;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;

  @include use.media-tablet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &--site {
    @include use.media-mobile-only {
      border-top: 1px solid use.$color-lite-gray;
    }

    @include use.media-tablet {
      @include use.font-bold-15;
      padding: 22px 0;
      left: 2px;
      column-gap: 37px;
      order: 2;
      width: 321px;
      row-gap: 20px;
    }

    @include use.media-desktop {
      @include use.font-bold-17;
      padding: 0;
      order: 0;
      column-gap: 0;
      row-gap: 0;
      width: 376px;
    }
  }

  &--site::before {
    @include use.media-tablet {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      background-color: use.$color-more-gray;
      top: 0;
      left: -51px;
    }

    @include use.media-desktop {
      display: none;
    }
  }

  &--site::after {
    @include use.media-tablet {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      left: -51px;
      top: 0;
      background-color: use.$color-lite-gray;
    }

    @include use.media-desktop {
      display: none;
    }
  }

  &--site .main-nav__item:nth-child(2n+1) {
    @include use.media-desktop {
      padding-right: 35px;
      max-width: 149px;
    }
  }

  &--site .main-nav__item:nth-child(2n) {
    @include use.media-desktop {
      padding-left: 35px;
      max-width: 156px;
      border-left: 1px solid use.$color-lite-gray;
    }
  }

  &--site li {
    @include use.media-mobile-only {
      padding: 27px 51px 26px 76px;
    }
  }

  &--user {
    @include use.media-tablet {
      order: 1;
      // max-width: 431px;
      max-width: 348px;
    }

    @include use.media-desktop {
      order: 2;
      column-gap: 0;
      align-self: start;
    }
  }

  &--user li {
    @include use.media-mobile-only {
      padding: 27px 51px 26px 32px;
    }

    @include use.media-tablet {
      border-left: 1px solid use.$color-lite-gray;
      align-self: normal;
    }
  }

  &--additional {
    display: none;

    @include use.media-desktop {
      @include use.font-bold-15;
      position: relative;
      display: flex;
      padding: 20.5px 0;
      left: 3px;
      order: 3;
      column-gap: 61.5px;
      align-self: center;
      min-height: 25px;
      min-width: 400px;
      max-width: 615px;
      row-gap: 20px;
    }
  }

  &--additional::before {
    @include use.media-desktop {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      left: calc((100vw + -1048px) / 2 * -1);
      background-color: use.$color-more-gray;
      top: 0;
    }
  }

  &--additional::after {
    @include use.media-desktop {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      left: calc((100vw + -1048px) / 2 * -1);
      top: 0;
      background-color: use.$color-lite-gray;
    }
  }
}

.main-nav__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include use.media-mobile-only {
    border-top: 1px solid transparent;
    border-bottom: 1px solid use.$color-lite-gray;
    background-color: use.$color-white;
  }

  @include use.media-tablet {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }

  @include use.media-desktop {
    align-items: center;
  }

  &--site {
    @include use.media-tablet {
      max-width: 138px;
    }

    @include use.media-desktop {
      min-height: 88px;
    }
  }

  &--user {
    @include use.media-tablet {
      min-height: 88px;
    }
  }

  &--additional {
    @include use.media-desktop {
      max-width: 160px;
    }
  }
}

.main-nav__link {
  color: use.$color-black;
  text-decoration: none;
  text-align: center;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid use.$color-black;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }

  // @include use.media-desktop {
  // }

  &--current {
    color: use.$color-active-mint;
  }

  &--search {
    @include use.media-tablet {
      padding: 35px 31px 29px 33px;
    }
  }

  &--cart {
    @include use.media-tablet {
      position: relative;
      padding-left: 30.5px;
      left: 1px;
      top: 1px;
      width: 233px;
      display: flex;
      align-items: center;
    }

    // @include use.media-desktop {
    //   left: auto;
    //   top: auto;
    // }
  }

  // &--site {
  //   @include use.media-desktop {
  //     // padding: 33px 0 31px;
  //   }
  // }
}

.main-nav__ico-search,
.main-nav__ico-cart {
  display: inline-block;
  position: relative;
  width: auto;
  height: 18px;
}

.main-nav__ico-search {
  @include use.media-mobile-only {
    top: 3px;
    margin-right: 22px;
  }
}

.main-nav__ico-cart {
  @include use.media-mobile-only {
    top: 2px;
    left: -2px;
    margin-right: 18.5px;
  }

  @include use.media-tablet {
    top: 2px;
    margin-right: 30px;
  }

  @include use.media-desktop {
    top: auto;
    margin-right: 21px;
    width: 30px;
  }
}

.main-nav__search-text {
  display: none;

  @include use.media-mobile-only {
    display: inline-block;
  }
}

.main-nav__text-delivery {
  display: none;

  @include use.media-tablet {
    display: block;
    position: relative;
    margin: 0;
    order: 2;
    top: -1px;
    line-height: 24px;
    max-width: 345px;
  }

  @include use.media-desktop {
    order: 4;
    top: auto;
    left: 1px;
    padding: 21px 0;
    max-width: 350px;
    align-self: center;
  }
}
