@use "../global/use.scss";

.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  &--close {
    display: none;
  }
}

.modal__wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 54%;
  left: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 29px;
  padding-bottom: 46px;
  border: 1px solid use.$color-modal-gray;
  background-color: use.$color-white;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  max-width: 500px;

  @include use.media-tablet {
    max-width: 568px;
    padding: 37px 107px 47px 109px;
    top: 53.4%;
  }

  @include use.media-desktop {
    top: 58.3%;
  }
}

.modal__form {
  @include use.media-mobile-only {
    max-width: 260px;
  }

  // @include use.media-tablet {
  //   width: 100%;
  // }
}

.modal__title {
  @include use.font-bold-25;
  color: use.$color-black;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  margin-bottom: 17px;
  text-align: center;

  @include use.media-tablet {
    @include use.font-bold-30;
    line-height: 57px;
    margin: 0;
    margin-bottom: 11px;
    width: 354px;
  }
}

.modal__content {
  margin: 0;
  margin-bottom: 25px;

  @include use.media-tablet {
    @include use.font-lite-17;
    line-height: 30px;
    margin: 0 0 20px;
  }
}

.modal__list {
  display: flex;
  gap: 7px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.modal__item {
  flex-grow: 1;
}

.modal__label {
  @include use.font-bold-17;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 82px;
  box-sizing: border-box;
  border: 2px solid fade-out(use.$color-black, 0.9);
  cursor: pointer;

  @include use.media-tablet {
    width: 112px;
  }

  &:hover,
  &:focus {
    border-color: fade-out(use.$color-black, 0.7);
  }

  &:active {
    border-color: use.$color-light-mint;
  }
}

.modal__button {
  @include use.font-bold-17;
  line-height: 16px;
  background-color: use.$color-light-mint;
  color: use.$color-white;
  border-color: use.$color-light-mint;
  width: 100%;
  padding: 16px 26px;

  &:hover,
  &:focus {
    border-color: use.$color-gray;
  }
}

.modal__input:checked+.modal__label {
  border-color: use.$color-light-mint;
}