@use "../global/use.scss";

.review {
  display: block;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;

  @include use.media-mobile-only {
    margin-bottom: 46px;
  }

  @include use.media-tablet {
    background-image: url("../img/web-review.webp");
    background-size: 350px, 457px;
    background-repeat: no-repeat;
    background-position: top 0 left 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/web-review@2x.webp");
    }
  }

  @include use.media-desktop {
    background-position: top 0 left 6.2%;
    margin-bottom: 93px;
  }
}

.review::after {
  @include use.media-mobile-only {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/svg/mob-wave.svg");
    background-repeat: repeat-x;
    background-size: 16px;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 6px;
  }

  @include use.media-tablet {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/svg/tab-wave.svg");
    background-repeat: repeat-x;
    background-size: 38.6px;
    left: -21px;
    right: 0;
    bottom: -17px;
    height: 17px;
  }

  @include use.media-desktop {
    display: none;
  }
}

.review__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  @include use.media-mobile-only {
    padding: 0 30px;
    padding-bottom: 44px;
  }

  @include use.media-tablet {
    padding: 83px 50px 114px;
    flex-direction: row;
  }

  @include use.media-desktop {
    padding: 78px 50px 163px 225px;
  }
}

.review__wrapper::after {
  @include use.media-desktop {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/svg/desk-wave.svg");
    background-repeat: repeat-x;
    background-size: 52.5px;
    left: 4.3%;
    bottom: -23px;
    height: 23px;
    width: 91.3%;
  }
}

.review__title {
  margin: 0;
  color: use.$color-black;

  @include use.media-mobile-only {
    @include use.font-bold-25;
    line-height: 30px;
    margin-bottom: 14px;
  }

  @include use.media-tablet {
    @include use.font-bold-43;
    line-height: 50px;
    margin-bottom: 39px;
  }

  @include use.media-desktop {
    @include use.font-bold-53;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.review__box {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 30px;

  @include use.media-mobile-only {
    @include use.font-lite-15;
    margin-bottom: 3px;
  }

  @include use.media-tablet {
    @include use.font-lite-17;
    margin-bottom: 61px;
  }

  @include use.media-desktop {
    margin-bottom: 45px;
  }
}

.review__text {
  margin: 0;

  @include use.media-mobile-only {
    margin-bottom: 31px;
  }
}

.review__signature {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  @include use.media-mobile-only {
    margin-bottom: 29px;
  }

  @include use.media-tablet {
    max-width: 460px;
    margin-right: auto;
  }
}

.review__author {
  color: use.$color-black;

  @include use.media-mobile-only {
    @include use.font-bold-17;
    line-height: 24px;
  }

  @include use.media-tablet {
    @include use.font-bold-18;
    line-height: 24px;
  }

  @include use.media-desktop {
    @include use.font-bold-17;
  }
}

.review__author-social {
  @include use.font-lite-17;
  line-height: 30px;
  text-decoration: none;
  color: use.$color-gray;

  &:hover,
  &:focus {
    color: use.$color-thing-second;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.review__navigation-box {
  display: flex;
  justify-content: center;
  position: relative;

  @include use.media-mobile-only {
    margin-bottom: 38px;
  }

  @include use.media-tablet {
    top: 4px;
  }
}

.review__button {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  background-color: transparent;
  border: 1px solid use.$color-lite-gray;
  cursor: pointer;
  outline: none;

  @include use.media-tablet {
    border: 0;
    width: 88px;
  }

  &--next {
    border-left: none;
  }
}

.review__button:hover .review__ico,
.review__button:focus .review__ico {
  opacity: 0.6;
}

.review__button:active .review__ico {
  opacity: 0.3;
}

.review__ico {
  transition: all 0.3s ease-in-out;
  position: relative;

  @include use.media-mobile-only {
    left: -2px;
    top: 1px;
  }

  &--next {
    transform: rotate(180deg);
    border-left: none;
  }
}

.review__btn {
  @include use.media-tablet {
    @include use.font-bold-17;
    position: absolute;
    top: 79px;
    right: 50px;
    padding: 14px 38px;
  }
}