@use "../global/use.scss";

.special {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.special::after {

  @include use.media-mobile-only {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/svg/mob-wave.svg");
    background-repeat: repeat-x;
    background-size: 16px;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 6px;
  }

  @include use.media-tablet {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/svg/tab-wave.svg");
    background-repeat: repeat-x;
    background-size: 38.6px;
    left: -21px;
    right: 0;
    bottom: -17px;
    height: 17px;
  }

  @include use.media-desktop {
    background-image: url("../img/svg/desk-wave.svg");
    background-repeat: repeat-x;
    background-size: 52.5px;
    left: -2px;
    right: 0;
    bottom: -23px;
    height: 23px;
  }
}

.special__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  @include use.media-mobile-only {
    padding: 0 30px;
  }

  @include use.media-tablet {
    padding: 0 50px;
  }

  @include use.media-desktop {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.special__box-title {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  @include use.media-mobile-only {
    margin-bottom: 18px;
    flex-direction: column;
  }

  @include use.media-tablet {
    align-items: center;
    width: 100%;
    margin-bottom: 37px;
  }

  @include use.media-desktop {

    margin-left: 19px;
  }
}

.special__title {
  margin: 0;
  color: use.$color-black;

  @include use.media-mobile-only {
    @include use.font-bold-25;
    line-height: 30px;
    margin-bottom: 4px;
  }

  @include use.media-tablet {
    @include use.font-bold-43;
    line-height: 50px;
    max-width: 500px;
    margin-right: auto;
  }

  @include use.media-desktop {
    @include use.font-bold-53;
    line-height: 57px;
    max-width: 700px;
    margin: 0;
    order: 2;
    z-index: 1;
  }
}

.special__label {
  @include use.font-bold-17;
  margin: 0;
  color: use.$color-light-mint;
  text-transform: uppercase;
  position: relative;

  @include use.media-mobile-only {
    line-height: 20px;
  }

  @include use.media-tablet {
    line-height: 17px;
    max-width: 126px;
    text-align: center;
    top: -2px;
  }

  @include use.media-desktop {
    order: 1;
    margin-right: 30px;
  }
}

.special__card-box {
  @include use.media-mobile-only {
    margin-bottom: 27px;
  }

  @include use.media-tablet {
    max-width: 292px;
    margin-bottom: 57px;
  }

  @include use.media-desktop {
    padding-left: 174px;
    margin-bottom: 109px;
  }
}

.special__text {
  margin: 0;

  @include use.media-mobile-only {
    margin-bottom: 18px;
  }

  @include use.media-tablet {
    @include use.font-lite-17;
    line-height: 30px;
    margin-bottom: 38px;
  }

  @include use.media-desktop {
    margin-bottom: 52px;
  }
}

.special__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 20px;
  margin: 0;
  position: relative;
  left: -1px;

  @include use.media-desktop {
    left: 0;
  }
}

.special__table-row {
  display: grid;
  position: relative;
  grid-template-columns: 27% 72%;
  grid-template-rows: 40px;
  align-items: center;
  border-bottom: 1px solid use.$color-lite-gray;

  @include use.media-tablet {
    grid-template-columns: 27% 73%;
  }
}

.special__table-cell {
  position: relative;
  top: -2px;

  @include use.media-tablet {
    top: -1px;
  }

  @include use.media-desktop {
    top: -4px;
  }
}

.special__table-cell:last-child {
  @include use.media-mobile-only {
    margin-left: 28px;
  }

  @include use.media-tablet {
    margin-left: 18px;
  }

  @include use.media-desktop {
    margin-left: 19px;
  }
}

.special__table-cell--position {
  top: 0;

  @include use.media-desktop {
    top: -2px;
  }
}

.special__box-img {
  @include use.media-tablet {
    position: absolute;
    right: 50px;
    top: 100px;
  }

  @include use.media-desktop {
    top: -60px;
  }
}

.special__img {
  display: block;
  object-fit: cover;
  width: 100%;

  @include use.media-mobile-only {
    max-height: 315px;
    margin-bottom: 26px;
  }

  @include use.media-tablet {
    width: 334px;
    height: 404px;
  }

  @include use.media-desktop {
    width: 525px;
    height: 636px;
  }
}

.special__box-buy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include use.media-mobile-only {
    margin-bottom: 36px;
  }

  @include use.media-tablet {
    max-width: 292px;
    margin-bottom: 52px;
  }

  @include use.media-desktop {
    padding-left: 174px;
    margin-bottom: 73px;
  }
}

.special__price {
  position: relative;

  @include use.media-mobile-only {
    @include use.font-bold-17;
    margin-bottom: 24px;
    left: -1px;
  }

  @include use.media-tablet {
    @include use.font-bold-20;
    margin-bottom: 33px;
    left: -2px;
  }

  @include use.media-desktop {
    margin-bottom: 32px;
    left: 0;
  }
}

.special__btn {
  display: block;
  width: 100%;

  @include use.media-tablet {
    @include use.font-bold-17;
  }
}
