@use "../global/use.scss";

.things {
  display: block;
  width: 100%;
  background-color: use.$color-more-gray;
  background-repeat: no-repeat;
  position: relative;

  @include use.media-mobile-only {
    background-image: url("../img/web-mob-slider.webp");
    background-size: 320px 373px;
    background-position: 50% -16%;
    margin-bottom: 31px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/web-mob-slider@2x.webp");
    }
  }

  @include use.media-tablet {
    background-image: url("../img/web-tab-slider.webp");
    background-size: 768px 746px;
    background-position: 50% 98%;
    margin-bottom: 54px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/web-tab-slider@2x.webp");
    }
  }

  @include use.media-desktop {
    background-image: url("../img/web-desk-slider.webp");
    background-size: 1150px 746px;
    background-position: 50% 97%;
    margin-bottom: 133px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/web-desk-slider@2x.webp");
    }
  }
}

.things::after {
  @include use.media-tablet {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-image: url("../img/svg/tab-fat-wave.svg");
    background-repeat: repeat-x;
    background-size: 38.5px;
    left: -1px;
    right: 0;
    bottom: -14px;
    height: 24px;
  }

  @include use.media-desktop {
    background-image: url("../img/svg/desk-fat-wave.svg");
    background-repeat: repeat-x;
    background-size: 62.5px;
    left: 13px;
    right: 0;
    bottom: -19px;
    height: 34px;
  }
}

.things__wrapper {
  display: flex;
  max-width: 1050px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  @include use.media-tablet {
    padding: 0 50px;
  }
}

.things__title {
  margin: 0;
  text-align: center;
  color: use.$color-black;

  @include use.media-mobile-only {
    @include use.font-bold-27;
    line-height: 30px;
    padding: 71px 30px 121px;
    max-width: 267px;
  }

  @include use.media-tablet {
    @include use.font-bold-43;
    line-height: 50px;
    padding: 88px 50px 371px;
    max-width: 700px;
  }

  @include use.media-desktop {
    @include use.font-bold-53;
    line-height: 57px;
    padding: 92px 175px 355px;
  }
}

.things__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include use.media-mobile-only {
    width: 100%;
  }

  @include use.media-tablet {
    display: flex;
    width: 100%;
  }
}

.things__item {
  position: relative;

  @include use.media-tablet {
    width: 50%;
  }
}

.things__link {
  display: block;
  text-decoration: none;
  color: use.$color-white;

  @include use.media-mobile-only {
    @include use.font-bold-19;
    line-height: 24px;
  }

  @include use.media-tablet {
    @include use.font-bold-20;
    line-height: 30px;
    transition: all 0.25s ease-in-out;
  }
}

.things__link--interior {
  background-color: use.$color-light-mint;

  @include use.media-mobile-only {
    padding: 23px 27px 32px 30px;
  }

  @include use.media-tablet {
    padding: 26px 36px 31px;
    box-shadow: 0 10px use.$color-light-mint;
  }

  &:hover,
  &:focus {
    background: use.$color-thing-first;
    box-shadow: 0 5px use.$color-thing-first;
    transform: translateY(-5px);
    outline: none;
  }

  &:active {
    background-color: use.$color-light-mint;

    &::after {
      opacity: 0.3;
    }
  }
}

.things__link--toys {
  background-color: use.$color-dark-mint;

  @include use.media-mobile-only {
    padding: 23px 27px 32px 30px;
  }

  @include use.media-tablet {
    padding: 26px 36px 31px;
    box-shadow: 0 10px use.$color-dark-mint;
  }


  &:hover,
  &:focus {
    background: use.$color-thing-second;
    transform: translateY(-5px);
    outline: none;
    box-shadow: 0 5px use.$color-thing-second;
  }

  &:active {
    background-color: use.$color-dark-mint;

    &::after {
      opacity: 0.3;
    }
  }
}

.things__link--interior::after {
  content: "";
  position: absolute;
  right: 35px;
  top: 23px;
  width: 41px;
  height: 62px;
  background-image: url("../img/svg/interior.svg");

  @include use.media-tablet {
    right: 36px;
    top: 30px;
  }
}

.things__link--toys::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 21px;
  width: 61px;
  height: 61px;
  background-image: url("../img/svg/toy.svg");

  @include use.media-tablet {
    right: 33px;
    top: 31px;
  }

  @include use.media-desktop {
    right: 35px;
  }
}