@use "./global/variables.scss";
@use "./global/mixins.scss";

html {
  height: 100%;
  // background-color: variables.$color-body;
}

body {
  @include mixins.font-lite-15;
  line-height: 24px;
  background-color: variables.$color-white;
  margin: 0 auto;
  color: variables.$color-gray;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main {
  flex-grow: 1;
  display: contents; // посмотреть ка кведет себя
}

img {
  width: 100%;
  display: block;
  object-fit: cover;

  @include mixins.media-mobile-only {
    width: auto;
  }

  @include mixins.media-tablet {
    width: 100%;
    height: 100%;
  }
}

// .mobile-hidden {
//   @include mixins.media-mobile-only {
//     display: none;
//   }
// }

// .desktop-visible {
//   display: none;

//   @include mixins.media-desktop {
//     display: block;
//   }
// }
