@mixin font-lite-14 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

@mixin font-lite-15 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}

@mixin font-bold-15 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
}

@mixin font-bold-17 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
}

@mixin font-bold-18 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}

@mixin font-bold-19 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  font-style: normal;
}

@mixin font-bold-20 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}

@mixin font-bold-25 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
}

@mixin font-bold-27 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  font-style: normal;
}

@mixin font-bold-30 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
}

@mixin font-bold-43 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 43px;
  font-style: normal;
}

@mixin font-bold-53 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 43px;
  font-style: normal;
}

@mixin media-mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-middle {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 1150px) {
    @content;
  }
}
