$color-white: #ffffff;
$color-black: #000000;
$color-gray:#444444;
$color-lite-gray:#ececec;
$color-more-gray:#fafafa;
$color-light-mint:#63d1bb;
$color-dark-mint:#56c3b2;
$color-active-mint:#62d1ba;
