$color-white: #ffffff;
$color-black: #000000;
$color-gray: #444444;
$color-hover-gray: #666666;
$color-lite-gray: #ececec;
$color-disabled-gray: #bcbcbc;
$color-modal-gray: #c6c6c6;
$color-footer-lite-gray: #e5e5e5;
$color-more-gray: #fafafa;
$color-footer-gray: #f1f1f1;
$color-light-mint: #63d1bb;
$color-dark-mint: #56c3b2;
$color-thing-first: #59d5bc;
$color-thing-second: #46c1ae;
$color-active-mint: #62d1ba;
$color-socials: #231f20;
$color-error: #ff8282;