@use "./global/use.scss";
@use "./global/base.scss";
@use "./global/mixins.scss";
@use "./blocks/btn.scss";
@use "./blocks/header.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/things.scss";
@use "./blocks/special.scss";
@use "./blocks/about.scss";
@use "./blocks/review.scss";
@use "./blocks/contacts.scss";
@use "./blocks/footer.scss";
@use "./blocks/form.scss";
@use "./blocks/catalog.scss";
@use "./blocks/promo.scss";
@use "./blocks/modal.scss";
